{% load admin_static %}
{% load app_tags %}
{% get_pictures_albums_each_month request.GET.instance_month request.GET.instance_year as instances_each_month %}

<div class="row">
  <div class="col-lg-10">
    <canvas id="instances_wChart"></canvas>
  </div>
</div>
<div class="select-filters col-lg-10">
  <div class="col-lg-6">
    <label for="instances_monthSelect">Month</label>
    <select class="form-control" name="instance_month" id="instances_monthSelect">
      {% for month in instances_each_month.all_months %}
        <option value="{{month|stringformat:'i'}}" {% if request.GET.instance_month != ''  and request.GET.instance_month == month|stringformat:'i' %}selected {% elif not request.GET.instance_month and instances_each_month.current_date.month == month %} selected {% endif %}>{{month|stringformat:'i'}}</option>
      {% endfor %}
    </select>
  </div>
  <div class="col-lg-6">
    <label for="instances_yearSelect">Year</label>
    <select class="form-control" name="instance_year" id="instances_yearSelect">
      {% for year in instances_each_month.all_years %}
        <option value="{{year|stringformat:'i'}}" {% if request.GET.instance_year != ''  and request.GET.instance_year == year|stringformat:'i' %}selected {% elif not request.GET.instance_year and instances_each_month.current_date.year == year %} selected {% endif %}>{{year|stringformat:'i'}}</option>
      {% endfor %}
    </select>
  </div>
</div>
      
      <script>
        jQuery('select[name^="instance_"]').change(function(){
          var month= jQuery('select[name="instance_month"] option:selected').val();
          var year= jQuery('select[name="instance_year"] option:selected').val();
          window.location.href='./?instance_month='+month+'&instance_year='+year;
      
        });
        var ctx_u_w = document.getElementById("instances_wChart").getContext('2d');
        var ctx_u_wChart = new Chart(ctx_u_w, {
          "type":"bar",
          "data":{
            "labels":{% autoescape off %}{{instances_each_month.all_days}}{% endautoescape %},
            "datasets":[
              {
                "label":"Number of pictures each day",
                "data": {{instances_each_month.pictures_per_day}},
                "fill":true,
                "backgroundColor": '#ff0000'
              },
              {
                "label":"Number of albums each day",
                "data": {{instances_each_month.albums_per_day}},
                "fill":true,
                "backgroundColor": '#0033cc'
              },
            ]
          }
        });
      </script>