{% load app_tags %}
{% get_last_five_users as last_five_users %}

<div class="container">
<h2>Last 5 users</h2>
  <table class="table table-bordered white-bg">
    <thead>
      <tr>
        <th scope="col">Avatar</th>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">Date Joined</th>
      </tr>
    </thead>
    <tbody>
      {% for user in last_five_users %}
        <tr>
          <th scope="row" class="no-pad">
              <a href="{% url 'admin:index' %}users/user/{{user.pk}}/">
                <img class="small-pic" src="{{ user.avatar_url }}"/>
              </a>
          </th>
          <td><a href="{% url 'admin:index' %}users/user/{{user.pk}}/">{{user.username}}</a></td>
          <td><a href="{% url 'admin:index' %}users/user/{{user.pk}}/">{{user.email}}</a></td>
          <td><a href="{% url 'admin:index' %}users/user/{{user.pk}}/">{{user.date_joined}}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <p><a href="{% url 'admin:index' %}users/user/">See all users</a></p>
</div>