{% load admin_static %}
{% load app_tags %}
{% get_last_five_reportitems_unchecked as last_five_reportitems_unchecked %}

<div class="container">
  <h2>Last 5 pending reports</h2>
  <table class="table table-bordered white-bg">
    <thead>
      <tr>
        <th scope="col">User</th>
        <th scope="col">Picture Title</th>
        <th scope="col">Date</th>
        <th scope="col">Comment</th>
      </tr>
    </thead>
    <tbody>
      {% for report in last_five_reportitems_unchecked %}
        <tr>
          <th scope="row">
              <a href="{% url 'admin:index' %}pictures/reportitem/{{report.pk}}/">{{report.user}}</a>
            </th>
          <td><a href="{% url 'admin:index' %}pictures/reportitem/{{report.pk}}/">{{report.picture.title}}</a></td>
          <td><a href="{% url 'admin:index' %}pictures/reportitem/{{report.pk}}/">{{report.picture.created_at}}</a></td>
          <td><a href="{% url 'admin:index' %}pictures/reportitem/{{report.pk}}/">{{report.comment}}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <p><a href="{% url 'admin:index' %}pictures/reportitem/">See all reports</a></p>
</div>