{% load admin_static %}
{% load app_tags %}
{% get_last_five_pictures as last_five_pictures %}

<h2>Last five pictures</h2>
<div class="row">
  {% for picture in last_five_pictures %}
    <div class="col-lg-2 col-md-offset-1">
      <div class="container white-bg photo-container">
        <a href="{% url 'admin:index' %}pictures/picture/{{ picture.pk }}/change">
          <img class="{{ picture.picture_filter }} photo" src="{{ picture.url }}"/>
        </a>
        <p>User: <a href="{% url 'admin:index' %}/users/user/{{picture.user.pk}}/">{{picture.user.username}}</a></p>
        <p>{{picture.created_at}}</p>
      </div>
    </div>
  {% endfor %}
</div>
<p><a href="{% url 'admin:index' %}pictures/picture/">See all pictures</a></p>