{% load admin_static %}
{% load app_tags %}

<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/Chart.bundle.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>

<div class="container-fluid">
  {% include "admin/dashboard/last_five_pictures.html" %}
  <div class="row">
      <div class="col-lg-6">
        {% include "admin/dashboard/last_five_reports_unchecked.html" %}
      </div>
      <div class="col-lg-6">
        {% include "admin/dashboard/last_five_users.html" %}
      </div>
  </div>
  {% include "admin/dashboard/instances_each_month.html" %}
</div>
