/* These styles are generated from project.scss. */

.alert-debug {
  color: black;
  background-color: white;
  border-color: #d6e9c6;
}

.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

/* Display django-debug-toolbar.
   See https://github.com/django-debug-toolbar/django-debug-toolbar/issues/742
   and https://github.com/pydanny/cookiecutter-django/issues/317
*/
[hidden][style="display: block;"] {
  display: block !important;
}

.avatar_list{
  border-radius:100px;
  width:50px;
  overflow:hidden;
}

.white-bg {
  background-color: white !important;
}

.small-pic {
  width: 48px;
  border-radius:100px;
}

.no-pad {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin: 0 !important;
}

.photo{
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  margin: 0 auto;
  display: block;
}

.photo-container {
  padding: 10px;
  padding-left:0px;
  padding-right:0px;
  text-align: center;
  margin-bottom: 10px;
  border:1px solid #ccc;
}