{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Django + Vue</title>
  </head>
  <body>
    <div id="app">
      Vue JS is ready!
    </div>
    <script src="{% static 'dist/build.js' %}"/>
  </body>
</html>
