{% extends "admin/base_site.html" %}
{% load admin_static %}
{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/project.css' %}">
{% endblock %}
{% block extrahead %}
  {{ block.super }}
  <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/png" />
  <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/png" />
{% endblock %}
{# Additional header content like notifications or language switcher #}
{% block branding %}
  <a href="/admin"><img src="{% static 'images/facebusters-logo.png' %}" style="width:180px;"/></a>
{% endblock %}
