{% extends "admin/index.html" %}
{% load i18n admin_static %}
{% block extrastyle %}
{{ block.super }}

<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/project.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cssgram/0.1.10/cssgram.min.css">
{% endblock %}


{% block content %}
<div class="main stats">
<h1 class="text-center">Facebusters Metrics</h1>
<p class="text-center info"> </p>
{% include "admin/dashboard/stats.html" %}
</div>
{% endblock %}

{% block sidebar %}

{% endblock %}
