{% load thumbnail %}
<html>
    <head>
        <title>Test pictures</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cssgram/0.1.10/cssgram.min.css">
        <style>
            html,body,img{
                margin:0px;
                padding:0px;
            }
            .container{
                width:800px;
                height:800px;
            }
            .container img{
                display:block;
                width:100%;
                height:100%;
            }
        </style>
    </head>
    <body>
        <div class="{{picture.picture_filter}} container">
            <img src="{{ picture.image|thumbnail_url:'stream_picture' }}">
        </div>
    </body>
</html>