<!DOCTYPE html>
<html>
<head lang="en">
    <meta name="description" content="{{picture.address_en}}">
    <meta property="fb:app_id" content="424049644702480" />
    <meta property="og:image" content="https://api.facebusters.com{{picture.image.url}}" />
    <meta property="og:image:width" content="600" />
    <meta property="og:image:height" content="600" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{picture.title}}" />
    <meta property="og:description" content="{{picture.address_en}}" />
    <meta property="og:url" content="https://api.facebusters.com/" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@facebusters" />
    <meta name="twitter:title" content="{{picture.title}}" />
    <meta name="twitter:text:title" content="{{picture.title}}" />
    <meta name="twitter:description" content="{{picture.address_en}}" />
    <meta name="twitter:image" content="https://api.facebusters.com{{picture.image.url}}" />

    <meta http-equiv="refresh" content="0; url=http://webapp.facebusters.com/tabs/(timeline:detail-photo/{{picture.identifier}})" />
    <title>Share Facebusters - {{picture.title}}</title>
</head>
<body> <!--{{item}}--> </body>
</html>
